@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Young+Serif&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  background-color: hsl(332, 56%, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: hsl(30, 10%, 34%);
}
body,
p {
  font-size: 16px;
}
.container {
  background-color: #fff;
  border-radius: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;

  padding: 15px;
}
img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
h1 {
  color: hsl(24, 5%, 18%);
}
h2 {
  color: hsl(14, 45%, 36%);
}
h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.smallcontainer {
  padding: 10px;
  border-radius: 10px;
  background-color: hsl(330, 100%, 98%);
}
h4 {
  color: hsl(332, 51%, 32%);
}
li::marker {
  color: hsl(14, 45%, 36%);
}
.title {
  font-weight: bold;
}
.cl {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table tr {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
table tr:last-child {
  border-bottom: none;
}
td {
  padding: 8px;
}
hr {
  border: 1px solid #ddd;
  margin: 10px 0;
}
